body {
  overflow: hidden;
  background: black;
  font-family: "Azeret Mono", monospace;
}

main {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#poster {
  --poster-width: 1000px;
  --poster-height: 1412px;
  --title-height: 100px;

  height: var(--poster-height);
  min-height: var(--poster-height);
  width: var(--poster-width);
  min-width: var(--poster-width);

  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform-origin: center;

  background: #0d00bb;
}

#texture {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0.03;
}

@keyframes titleFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.title {
  font-weight: 900;
  position: relative;
  white-space: nowrap;
  overflow: visible;
  font-size: calc(var(--title-height) * 1.1);
  height: var(--title-height);
  transform: translateX(calc(var(--poster-width) / 2 - 0.5ch));
  animation: titleFadeIn 2s;
}

.title .substring {
  white-space: pre;
  position: absolute;
  top: 0;
  left: 0;
}

.title .substring.front {
  transform: translateX(-100%);
}

.title .character {
  color: #f6f6fc;
  opacity: 0.2;
  transition: opacity 600ms;
}

.title:hover .character {
  opacity: 1 !important;
}

.title .character.highlight {
  opacity: 1;
}

#album {
  position: fixed;
  width: 150px;
  height: 150px;
  border: none;
  border-radius: 4px;
  transform: translate(40px, 40px);
  transition: background 400ms ease, top 100ms ease, left 100ms ease;
}

@keyframes fadeIn {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}

#search {
  font-family: Helvetica, sans-serif;
  position: fixed;
  top: 20px;
  left: 20px;
  display: flex;
  flex-direction: row;
  gap: 16px;
}

#search > * {
  font-size: 16px;
  padding: 8px;
}

#loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: calc(var(--title-height) * 0.5);
  color: #f6f6fc;
  animation: fadeIn infinite alternate 1s;
}
